:root{
    --div-background-color: #09480F ;
    --div-background2-color: #1f2937;
    --button-color: #AEAD88;
    --button-hover-color: #9f9e7e;
    --btnText-color: black;
    --element-color: #386C5F;
}


*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: rgb(9,72,15);
    background: linear-gradient(49deg, rgba(9,72,15,1) 0%, rgba(47,72,88,1) 78%, rgba(47,72,88,1) 97%);
    background-repeat: no-repeat;
}
.searchIcon{
    width: 20px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #1f2937;;
    border-radius: 40px;
    padding: 10px;
    margin: 23px auto;
}
.input{
    color: white;
    width: 100%;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input::placeholder{
    color: rgba(211, 211, 211, 0.348);
    background: transparent;
}
form button{
    background-color: transparent;
    border: none;
}
form button:hover{
    background-color: transparent;
    border: none;
}
input .input{
    background: transparent;
}
.fa-solid{
    color: rgb(195, 195, 195);
    font-size: 20px;
    border-radius: 10px;
}
.fa-solid:hover{
    color: #ffffff;
}
.wrapper{
    background-color: white;
    box-shadow: 0px 0px 31px black;
    color: white;
    margin: auto;
    width: 1000px;

}
.header,.mainFront{
    padding: 20px;
    background-color: var(--element-color);
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}
.header{
    
    align-items: center;
}
.image{
    margin-left: 50px;
}
img{
    width: 400px;
    
}
.mainFront2{
    margin-right: 50px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    width: 10%;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
ul{
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
    border: white solid 2px;
    border-radius: 10px;
    padding: 5px 20px;
}
.menu ul li:hover{
    background-color: var(--button-color);
    color: var(--btnText-color);
    
}
button{
    margin: auto;
    background-color: var(--button-color);
    padding: 5px 20px;
    color: var(--btnText-color);
    border-radius: 5px;
    border: none;
}
button:hover{
    background-color: var(--button-hover-color) ;
}
li img{
    margin: auto;
    width: 200px;
    border: 2px solid rgb(9, 72, 15);
    border-radius: 10px;
    word-wrap: break-word;
}


.randomInfor li{
    color: black;
    list-style: none;
    padding: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.randomInfor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.center{
    margin-top: auto;
    padding: 0;
    background-color: var(--element-color);
}
h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: var(--div-background2-color);
    width: 100%;
    text-align: center;
    border-radius: 10px ;
    margin: 50px 0px;
    padding: 20px 10px;
}
.grey{
    background-color: var(--div-background2-color);
    font-size: 26px;
    word-wrap: break-word;
    font-weight: lighter;
    color: #ffffff;
    padding: 10px 100px 20px 90px;
}
.callBack{
    color: rgb(255, 255, 255);
    background-color: var(--element-color);
    margin: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 50px -5px var(--div-background2-color);
}
.darkHeader{
    background-color: var(--element-color);
    padding: 0px 30px;
    overflow-x: hidden;
}
.theBtn button{
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
.copyright{
    background-color: var(--element-color);
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.menu ul{
    margin: 0px;
    padding: 0px;
}
.menu ul li {

    border: none;
    font-size: 15px;
}
.logoName{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
}
.logoName img{
    width: 60px;
    height: 60px;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--button-hover-color) ;
    transition: all 0.4s ease;

}
.burger{
    display: none;
}
.universtiy a{
    width: 100%;
    height: 100%;
    color: white;
}
.date{
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 225%;
    text-align: center;
    margin: auto;
}
@media screen and (max-width: 750px ){
    body{
        
        overflow-x: hidden;
        box-shadow:inset 12px 3px 10px black;
        width: 100%;
        
    }
    .wrapper{
        box-shadow: 0px 0px 31px black;
        color: white;
        margin: auto;
        width: 100%;
    
    }
    .date{
        position: relative;
        top: 0%;
        left: 0%;
        font-size: 225%;
        text-align: center;
        margin: auto;
    }
        
    h3{
        color: rgb(255, 255, 255);
        font-size: 25px;
        width: 100%;
        text-align: center;
        border-radius: 10px ;
        margin: 50px 0px;
        padding: 20px 10px;

}
    .mainFront{
        display: flex;
        flex-wrap: wrap;
        min-height: 0px;
    }
    .header{
        width: auto;
        margin: 0px;
        padding:  0px 20px;
        justify-content: space-between;
        align-items: center;
    }
    .menu ul {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu{
        overflow:hidden;
        position: absolute;
        background-color: var(--element-color);
        right: -20px;
        border-radius: 50px 0px 0px 50px;
        top: 14vh;
        width: 60%;
        display: none;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        z-index: 1;
        
    }
    .menu ul{
        position: relative;
        margin: auto;
        padding: 0px;
        width: 100%;
    }
    .menu ul li a{
        text-align: left;
    }
    .menu ul li{
    
    text-align: right;
    width: 100%;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
    border: #cfcfcf solid 2px;
    border-width: 3px 0px 0px 0px;
    padding:  40% 0% ;
    border-radius: 100px;
    margin:10px 0px;
    }
    .burger{
        cursor: pointer;
        display: block;
    }
    .menu-active{
        box-shadow: 0px 0px 20px black;
        display: block;
        transform: translateX(0%);
    }
    img{
        width: 100%;
    }
    .image, .mainFront2{
        margin: 10px;
    }
    
    .randomInfor{
        flex-direction: column;
        width: 250px;
        border-radius: 100px 100px 0px 0px;
        padding-top: 50px;
        box-shadow: inset 1px 3px 10px var(--button-color);
    }
    .randomInfor > li{
        background-color: var(--div-background2-color);
        width: 300px;
        color: white;
        padding: 20px;
        box-shadow: 1px 3px 10px;
        border-radius: 10px;
        margin: 10px 20px;
    }
    .randomInfor > li >img{
        width: 100%;
    }
    
.callBack, .grey{
    padding: 5px;
    font-size: 12px;
}
.theBtn button{
    margin: auto;
    padding: auto;
    color: #ffffff;
    border-radius: 5px;
    width: 90px;

}
.logoName img{
    width: 40px;
    height: 40px;
}
.theTest{
    padding: 0px;
    margin: 0px;
    width: 300px;
}
.theBtn{
    margin: auto;
}
.callBack{
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
}
}

@keyframes menufade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
