.contactMain{
    background: url(../img/inside-weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
}
.box{
    width: 18px;
    height: 500px;
    background-color:  black;
}
.maincontact{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #211f069e;
    padding: 20px;
    width: 70%;
    gap: 10px;
    height: 200%;
    
}
h4{
    font-size: 25px;
}
.info{
    border-radius: 20px;
    padding: 10px 50px;
    width: 500px;
    height: 200px;
    box-shadow: 5px 3px 10px black;
}
.number{
    border: solid 4px white;
    color: white;
    text-decoration: none;
    background-color: gray;
    font-size: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;

}
@media screen and (max-width: 750px )  {
    .maincontact{
        flex-direction: column;
        height: 500px;
    }
    .box{
        display: none;
    }
    .number{
        font-size: 30px;
    }
    .info{
        box-shadow: none;
    }
}
