:root{
    --div-background-color: #09480F ;
    --div-background2-color: #1f2937;
    --button-color: #AEAD88;
    --button-hover-color: #9f9e7e;
    --btnText-color: black;
    --element-color: #386C5F;
}


section{
    background-color: var(--button-color);
    box-shadow:inset 1px 2px 20px 0px black;
    padding: 10px;
    border-radius: 10px;
}
section ul{
    margin: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
section ul li{
    background-color:var(--div-background2-color);
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;

}
section ul li img{
    cursor: pointer;
    width: 100%;
    border: none;
    display: flex;
    margin-top: 10px;

}
section ul li h3{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    
}
section ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.minpics{
    background-color: pink;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    display: none;
}

.module{
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.599);
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: scroll;
    opacity: 0;
    z-index: 10;
    transition: all 0.6s ease-out;
}
.module.open{
    opacity: 1;
    pointer-events: all;
}
.module p {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -5%);

}

.full-img{
    scroll-behavior: smooth;
    position: absolute;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: all 0.25s ease-out;
}
.full-img.open{
    transform: translate(-50%, -50%) scale(1.0);
}
.reasons{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}
.reasons li{
    padding: 10px;
    box-shadow: 0px 0px 5px black;
}
.imgAndText img{
    width: 70%;
    overflow: scroll;
}
.imgAndText{
    background-color: pink;
}
@media screen and (max-width: 750px ){
    
section ul{
    margin: 10px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

section ul li{
    width: 200px;
    background-color:var(--div-background2-color);
    margin: 10px auto ;
    width: 80%;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;

}

section ul li:hover{
    scale: 1.0;
}

.full-img{
    scroll-behavior: smooth;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: all 0.25s ease-out;
}
.imgAndText img{
    width: 100%;
    overflow: scroll;
}

section ul li{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    gap: 10px;
}

section ul li img{
    cursor: pointer;
    width: 40%;
    border: none;
    margin: auto;

}

section ul li h3{
    display: none;
    
}

}